.welcome-box {
	font-family: 'Shadows Into Light Two', cursive;
	width: 320px;
	border-radius: 20px;
	margin: 25vh auto;
	text-align: center;
	padding: 20px;
}

.background {
	margin-top: -1px;
	padding-top: 1px;
	background: url('../img/landingBG.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.btn-github {
	color: #fff;
    background-color: rgb(26, 25, 25);
    border-color: rgb(26, 25, 25);
}

.btn-github:hover {
	background-color: #000;
	border-color: #000;
	color: white;
}

.btn-facebook {
	color: #fff;
    background-color: rgb(80, 119, 199);
    border-color: rgb(80, 119, 199);;
}

.btn-facebook:hover {
	color: #fff;
    background-color: #4267B2;
    border-color: #4267B2;
}

.btn-twitter {
	color: #fff;
    background-color: rgb(72, 185, 255);
    border-color: rgb(72, 185, 255);
	
}
.btn-twitter:hover {
	color: #fff;
	background-color: #1DA1F2;
	border-color: #1DA1F2;
}

.btn-google {
	color: #fff;
	background-color: rgb(248, 79, 56);
	border-color: rgb(248, 79, 56);
}

.btn-google:hover {
	color: #fff;
	background-color: #D64532;
	border-color: #D64532;
}